<body>

  <h1>Page Scraper</h1>

  <p>Enter a URL you want to check:</p>

  <% if flash[:error] %>
	 <%= flash[:error] %>
	<% end %>

  <form action="/url" method="post">
    <input type="text" name="url">
    <input type="submit" value="Get Info">
  </form>

</body>
